@media (min-width: 768px) and (max-width: 991px)

  .container
    width: 750px

  /*------------HEADER STYLES-----------*/

  .navbar-inverse
    .navbar-nav
      li
        margin-right: 15px
        font-size: 15px

  /*--------END HEADER STYLES----------*/

  /*-----------SLIDER STYLES------------*/
  /*--------END SLIDER STYLES-----------*/

  /*------------POST STYLES-------------*/
  /*---------END POST STYLES------------*/

  /*----------SIDEBAR STYLES-----------*/
  /*--------END SIDEBAR STYLES---------*/

  /*-----------CONTACT STYLES----------*/
  /*--------END CONTACT STYLES---------*/

  /*-----------FOOTER STYLES-----------*/
  /*--------END FOOTER STYLES----------*/