@media (max-width: 767px)

  .container
    width: 300px

  /*------------HEADER STYLES-----------*/
  .navbar-inverse
    .navbar-toggle
      margin-top: 60px

  .navbar-inverse
    .navbar-nav
      li
        margin-right: 15px
        font-size: 15px
        a
          padding: 10px
          line-height: 40px

  /*---------END HEADER STYLES----------*/

  /*-----------SLIDER STYLES------------*/
  /*--------END SLIDER STYLES-----------*/

  /*------------POST STYLES-------------*/
  /*---------END POST STYLES------------*/

  /*----------SIDEBAR STYLES-----------*/
  /*--------END SIDEBAR STYLES---------*/

  /*-----------CONTACT STYLES----------*/
  /*--------END CONTACT STYLES---------*/

  /*-----------FOOTER STYLES-----------*/
  /*--------END FOOTER STYLES----------*/