@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.navbar-header
  h1
    a
      line-height: 160px

.navbar
  border-radius: 0

.navbar-inverse
  padding: 0
  margin: 0
  min-height: 160px
  background: $header-bg
  border: none
  .navbar-nav
    padding: 0
    li
      margin-right: 60px
      font: 400 16px 'Lato', sans-serif
      text-transform: uppercase
      &:last-child
        margin-right: 0
      a
        display: inline
        padding: 30px 5px
        text-align: center
        line-height: 160px
        color: $black-color
        &:hover
          color: $black-color
          background: $yellow-color

.header-banner
  padding: 40px 0
  background: url("../../images/banner-bg.png") no-repeat
  h2
    display: inline
    padding: 10px 100px 10px 10px
    font: 400 35px 'Lato', sans-serif
    text-transform: uppercase
    color: $yellow-color
    background: $banner-bg

/*---------END HEADER STYLES----------*/

/*------------POST STYLES-------------*/
.content
  padding: 75px 0
  background: $content-bg
  .post
    margin-bottom: 30px
    .post-content
      padding: 25px
      background: $yellow-color
      h2
        margin-bottom: 25px
        a
          font: 400 23px 'Lato', sans-serif
          text-transform: uppercase
          color: $black-color
      p
        margin-bottom: 25px
        line-height: 20px
        font-family: 'Lato', sans-serif
        font-size: 14px
        font-weight: 400
        color: $post-content
    .info
      .likes
        a
          text-decoration: none
          color: $post-content
      .date
        a, span
          font: 700 12px 'Lato', sans-serif
          color: $black-color

.content
  .single-post
    .wp-post-image
      width: 100%
/*---------END POST STYLES------------*/


/*----------PAGINATION STYLES--------*/
.pag-wrap
  margin-top: 60px
  .page-numbers
    padding: 10px
    font: 700 15px 'Lato', sans-serif
    text-transform: uppercase
    text-decoration: none
    color: $about-bg
  .current
    background: $yellow-color
/*-------END PAGINATION STYLES-------*/

/*----------SIDEBAR STYLES-----------*/
.sidebar
  .widget
    overflow: hidden
    background: $about-bg
    margin-bottom: 20px
    h2
      margin-bottom: 30px
      font: 400 20px 'Lato', sans-serif
      text-transform: uppercase
      color: $yellow-color
    .form-wrap
      padding: 15px
      input[type=text]
        position: relative
        padding: 5px 10px
        border: 1px solid $content-bg
        border-radius: 20px
        width: 65%
      button[type=submit]
        position: absolute
        top: 17px
        right: 110px
        padding: 12px
        width: 23px
        height: 22px
        background: url("../../images/search-icon.png") no-repeat
        border: none

.sidebar
  .widget_archive, .widget_categories, .widget_tag_cloud
    padding: 35px 35px 20px 35px
    li
      margin-bottom: 20px
      a
        position: relative
        padding-left: 50px
        font: 400 16px 'Lato', sans-serif
        text-transform: uppercase
        text-decoration: none
        color: $white-color
        &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          margin-top: -15px
          width: 31px
          height: 31px
          background: url("../../images/arrow-icon.png") no-repeat

.widget_tag_cloud
  .tagcloud
    a
      padding: 5px 10px
      font: 400 16px 'Lato', sans-serif
      text-transform: uppercase
      text-decoration: none
      color: $about-bg
      background: $yellow-color

.popular
  overflow: hidden
  padding: 35px 35px 20px 35px
  background: $about-bg
  h3
    margin-bottom: 30px
    font: 400 20px 'Lato', sans-serif
    text-transform: uppercase
    color: $yellow-color
  li
    margin-bottom: 25px
    a
      font: 400 16px 'Lato', sans-serif
      text-transform: uppercase
      color: $white-color
    .likes
      span, a
        font-size: 11px
        color: $yellow-color
/*--------END SIDEBAR STYLES---------*/

/*---------CATEGORIES STYLES---------*/
/*------END CATEGORIES STYLES--------*/


/*----------COMMENTS STYLES-----------*/
.comments-area
  .comments-title
    margin-bottom: 50px
    font: 400 20px 'Lato', sans-serif
    color: $post-content

.comment-list
  .comment
    margin-bottom: 50px
    .comment-author
      display: inline-block
      margin-right: 30px
      float: left
    .comment-meta
      display: flex
      flex-direction: column
      .fn
        margin-bottom: 15px
        font: 400 18px 'Lato', sans-serif
        color: $post-content
      a
        margin-bottom: 25px
        font: 400 14px 'Lato', sans-serif
        color: $post-content
        text-decoration: none
      p
        padding-top: 0
        margin-bottom: 20px
        color: $post-content
      .reply
        a
          position: relative
          padding-left: 20px
          font: 400 14px 'Lato', sans-serif
          color: $post-content
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -7px
            width: 17px
            height: 13px


.comment-respond
  margin-top: 50px
  h3
    margin-bottom: 30px
    font: 400 20px 'Lato', sans-serif
    color: $post-content
  label
    margin-bottom: 10px
    font: 400 15px 'Lato', sans-serif
    color: $post-content

.post
  .comment-form
    max-width: 640px
    .comment-form-author, .comment-form-email
      padding-top: 0
      input[type=text]
        padding: 5px
        display: block
        border: 1px solid #ccc
    .comment-form-comment
      padding-top: 0
      textarea
        display: block
        width: 100%
        border: 1px solid #ccc
    .form-submit
      padding-top: 30px
      margin-bottom: 0
      input[type=submit]
        padding: 10px 20px
        font: 400 14px 'Lato', sans-serif
        text-transform: uppercase
        color: $post-content
        background: $yellow-color
        border-radius: 15px
        border: none

.children
  margin-left: 50px

.login-hidden
  display: none

.logged-in
  .login-hidden
    display: block
/*-------END COMMENTS STYLES---------*/

/*-----------CONTACT STYLES----------*/
/*--------END CONTACT STYLES---------*/

/*-----------FOOTER STYLES-----------*/
.about-info
  padding: 30px 0
  background: $about-bg
  h2
    margin-bottom: 30px
    font: 400 18px 'Lato', sans-serif
    color: $white-color
  p, span
    font: 400 13px 'Lato', sans-serif
    color: $white-color
  a
    color: $yellow-color

.about-info
  .about
    margin-bottom: 40px
    p
      margin-bottom: 25px
      line-height: 20px
    .button
      display: inline-block
      padding: 15px 30px
      font-size: 15px
      color: $white-color
      background: $black-color
      border-bottom: 2px solid $yellow-color
  .photo-stream
    img
      padding: 5px 5px 0 0
  .latest-tweets
    .tp_recent_tweets
      margin-bottom: 30px
      .twitter_time
        margin-top: 10px
        font-size: 11px
        font-style: normal
        text-decoration: none
        color: $yellow-color
  .contact-info
    ul
      margin-bottom: 40px
      p
        margin-bottom: 20px
        padding-left: 50px
      .address
        position: relative
        &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          margin-top: -15px
          width: 30px
          height: 30px
          background: url("../../images/address-icon.png") no-repeat
      .phone
        position: relative
        &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          margin-top: -15px
          width: 30px
          height: 30px
          background: url("../../images/phone-icon.png") no-repeat
        span
          display: block
      .email
        position: relative
        &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          margin-top: -15px
          width: 30px
          height: 30px
          background: url("../../images/email-icon.png") no-repeat
    .follow-us
      margin-bottom: 30px
      p
        padding-left: 0
      input[type=email]
        padding: 5px
        background: transparent
        border: none
        border-bottom: 2px solid $yellow-color
      input[type=submit]
        width: 28px
        height: 28px
        text-indent: -99999px
        border: none
        background: url("../../images/email-send.png") no-repeat


.footer
  background: $black-color
  .textwidget
    p
      font: 400 14px 'Lato', sans-serif
      line-height: 70px
      color: $white-color
  .navbar-nav
    padding: 0
    li
      margin-right: 40px
      font: 100 16px 'Lato', sans-serif
      text-transform: uppercase
      &:last-child
        margin-right: 0
      a
        display: inline
        text-align: center
        line-height: 70px
        color: $footer-menu
        &:hover
          color: $yellow-color
          background: transparent
/*--------END FOOTER STYLES----------*/



@import media1200
@import media992
@import media768
@import media320