/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.navbar-header h1 a {
  line-height: 160px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  padding: 0;
  margin: 0;
  min-height: 160px;
  background: #f6f6f6;
  border: none;
}
.navbar-inverse .navbar-nav {
  padding: 0;
}
.navbar-inverse .navbar-nav li {
  margin-right: 60px;
  font: 400 16px "Lato", sans-serif;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav li:last-child {
  margin-right: 0;
}
.navbar-inverse .navbar-nav li a {
  display: inline;
  padding: 30px 5px;
  text-align: center;
  line-height: 160px;
  color: #000;
}
.navbar-inverse .navbar-nav li a:hover {
  color: #000;
  background: #ffea00;
}

.header-banner {
  padding: 40px 0;
  background: url("../../images/banner-bg.png") no-repeat;
}
.header-banner h2 {
  display: inline;
  padding: 10px 100px 10px 10px;
  font: 400 35px "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffea00;
  background: #424146;
}

/*---------END HEADER STYLES---------- */
/*------------POST STYLES------------- */
.content {
  padding: 75px 0;
  background: #f6f6f6;
}
.content .post {
  margin-bottom: 30px;
}
.content .post .post-content {
  padding: 25px;
  background: #ffea00;
}
.content .post .post-content h2 {
  margin-bottom: 25px;
}
.content .post .post-content h2 a {
  font: 400 23px "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
}
.content .post .post-content p {
  margin-bottom: 25px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
}
.content .post .info .likes a {
  text-decoration: none;
  color: #5e5e5e;
}
.content .post .info .date a, .content .post .info .date span {
  font: 700 12px "Lato", sans-serif;
  color: #000;
}

.content .single-post .wp-post-image {
  width: 100%;
}

/*---------END POST STYLES------------ */
/*----------PAGINATION STYLES-------- */
.pag-wrap {
  margin-top: 60px;
}
.pag-wrap .page-numbers {
  padding: 10px;
  font: 700 15px "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #414146;
}
.pag-wrap .current {
  background: #ffea00;
}

/*-------END PAGINATION STYLES------- */
/*----------SIDEBAR STYLES----------- */
.sidebar .widget {
  overflow: hidden;
  background: #414146;
  margin-bottom: 20px;
}
.sidebar .widget h2 {
  margin-bottom: 30px;
  font: 400 20px "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffea00;
}
.sidebar .widget .form-wrap {
  padding: 15px;
}
.sidebar .widget .form-wrap input[type=text] {
  position: relative;
  padding: 5px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 20px;
  width: 65%;
}
.sidebar .widget .form-wrap button[type=submit] {
  position: absolute;
  top: 17px;
  right: 110px;
  padding: 12px;
  width: 23px;
  height: 22px;
  background: url("../../images/search-icon.png") no-repeat;
  border: none;
}

.sidebar .widget_archive, .sidebar .widget_categories, .sidebar .widget_tag_cloud {
  padding: 35px 35px 20px 35px;
}
.sidebar .widget_archive li, .sidebar .widget_categories li, .sidebar .widget_tag_cloud li {
  margin-bottom: 20px;
}
.sidebar .widget_archive li a, .sidebar .widget_categories li a, .sidebar .widget_tag_cloud li a {
  position: relative;
  padding-left: 50px;
  font: 400 16px "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.sidebar .widget_archive li a:before, .sidebar .widget_categories li a:before, .sidebar .widget_tag_cloud li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 31px;
  height: 31px;
  background: url("../../images/arrow-icon.png") no-repeat;
}

.widget_tag_cloud .tagcloud a {
  padding: 5px 10px;
  font: 400 16px "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #414146;
  background: #ffea00;
}

.popular {
  overflow: hidden;
  padding: 35px 35px 20px 35px;
  background: #414146;
}
.popular h3 {
  margin-bottom: 30px;
  font: 400 20px "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffea00;
}
.popular li {
  margin-bottom: 25px;
}
.popular li a {
  font: 400 16px "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.popular li .likes span, .popular li .likes a {
  font-size: 11px;
  color: #ffea00;
}

/*--------END SIDEBAR STYLES--------- */
/*---------CATEGORIES STYLES--------- */
/*------END CATEGORIES STYLES-------- */
/*----------COMMENTS STYLES----------- */
.comments-area .comments-title {
  margin-bottom: 50px;
  font: 400 20px "Lato", sans-serif;
  color: #5e5e5e;
}

.comment-list .comment {
  margin-bottom: 50px;
}
.comment-list .comment .comment-author {
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.comment-list .comment .comment-meta {
  display: flex;
  flex-direction: column;
}
.comment-list .comment .comment-meta .fn {
  margin-bottom: 15px;
  font: 400 18px "Lato", sans-serif;
  color: #5e5e5e;
}
.comment-list .comment .comment-meta a {
  margin-bottom: 25px;
  font: 400 14px "Lato", sans-serif;
  color: #5e5e5e;
  text-decoration: none;
}
.comment-list .comment .comment-meta p {
  padding-top: 0;
  margin-bottom: 20px;
  color: #5e5e5e;
}
.comment-list .comment .comment-meta .reply a {
  position: relative;
  padding-left: 20px;
  font: 400 14px "Lato", sans-serif;
  color: #5e5e5e;
}
.comment-list .comment .comment-meta .reply a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 17px;
  height: 13px;
}

.comment-respond {
  margin-top: 50px;
}
.comment-respond h3 {
  margin-bottom: 30px;
  font: 400 20px "Lato", sans-serif;
  color: #5e5e5e;
}
.comment-respond label {
  margin-bottom: 10px;
  font: 400 15px "Lato", sans-serif;
  color: #5e5e5e;
}

.post .comment-form {
  max-width: 640px;
}
.post .comment-form .comment-form-author, .post .comment-form .comment-form-email {
  padding-top: 0;
}
.post .comment-form .comment-form-author input[type=text], .post .comment-form .comment-form-email input[type=text] {
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
}
.post .comment-form .comment-form-comment {
  padding-top: 0;
}
.post .comment-form .comment-form-comment textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}
.post .comment-form .form-submit {
  padding-top: 30px;
  margin-bottom: 0;
}
.post .comment-form .form-submit input[type=submit] {
  padding: 10px 20px;
  font: 400 14px "Lato", sans-serif;
  text-transform: uppercase;
  color: #5e5e5e;
  background: #ffea00;
  border-radius: 15px;
  border: none;
}

.children {
  margin-left: 50px;
}

.login-hidden {
  display: none;
}

.logged-in .login-hidden {
  display: block;
}

/*-------END COMMENTS STYLES--------- */
/*-----------CONTACT STYLES---------- */
/*--------END CONTACT STYLES--------- */
/*-----------FOOTER STYLES----------- */
.about-info {
  padding: 30px 0;
  background: #414146;
}
.about-info h2 {
  margin-bottom: 30px;
  font: 400 18px "Lato", sans-serif;
  color: #fff;
}
.about-info p, .about-info span {
  font: 400 13px "Lato", sans-serif;
  color: #fff;
}
.about-info a {
  color: #ffea00;
}

.about-info .about {
  margin-bottom: 40px;
}
.about-info .about p {
  margin-bottom: 25px;
  line-height: 20px;
}
.about-info .about .button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 15px;
  color: #fff;
  background: #000;
  border-bottom: 2px solid #ffea00;
}
.about-info .photo-stream img {
  padding: 5px 5px 0 0;
}
.about-info .latest-tweets .tp_recent_tweets {
  margin-bottom: 30px;
}
.about-info .latest-tweets .tp_recent_tweets .twitter_time {
  margin-top: 10px;
  font-size: 11px;
  font-style: normal;
  text-decoration: none;
  color: #ffea00;
}
.about-info .contact-info ul {
  margin-bottom: 40px;
}
.about-info .contact-info ul p {
  margin-bottom: 20px;
  padding-left: 50px;
}
.about-info .contact-info ul .address {
  position: relative;
}
.about-info .contact-info ul .address:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../../images/address-icon.png") no-repeat;
}
.about-info .contact-info ul .phone {
  position: relative;
}
.about-info .contact-info ul .phone:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../../images/phone-icon.png") no-repeat;
}
.about-info .contact-info ul .phone span {
  display: block;
}
.about-info .contact-info ul .email {
  position: relative;
}
.about-info .contact-info ul .email:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../../images/email-icon.png") no-repeat;
}
.about-info .contact-info .follow-us {
  margin-bottom: 30px;
}
.about-info .contact-info .follow-us p {
  padding-left: 0;
}
.about-info .contact-info .follow-us input[type=email] {
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffea00;
}
.about-info .contact-info .follow-us input[type=submit] {
  width: 28px;
  height: 28px;
  text-indent: -99999px;
  border: none;
  background: url("../../images/email-send.png") no-repeat;
}

.footer {
  background: #000;
}
.footer .textwidget p {
  font: 400 14px "Lato", sans-serif;
  line-height: 70px;
  color: #fff;
}
.footer .navbar-nav {
  padding: 0;
}
.footer .navbar-nav li {
  margin-right: 40px;
  font: 100 16px "Lato", sans-serif;
  text-transform: uppercase;
}
.footer .navbar-nav li:last-child {
  margin-right: 0;
}
.footer .navbar-nav li a {
  display: inline;
  text-align: center;
  line-height: 70px;
  color: #424146;
}
.footer .navbar-nav li a:hover {
  color: #ffea00;
  background: transparent;
}

/*--------END FOOTER STYLES---------- */
@media (min-width: 1200px) {
  .container {
    width: 1336px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }

  /*------------HEADER STYLES----------- */
  .navbar-inverse .navbar-nav li {
    margin-right: 30px;
  }

  /*---------END HEADER STYLES---------- */
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------HEADER STYLES----------- */
  .navbar-inverse .navbar-nav li {
    margin-right: 15px;
    font-size: 15px;
  }

  /*--------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  /*---------END POST STYLES------------ */
  /*----------SIDEBAR STYLES----------- */
  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  /*--------END FOOTER STYLES---------- */
}
@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  /*------------HEADER STYLES----------- */
  .navbar-inverse .navbar-toggle {
    margin-top: 60px;
  }

  .navbar-inverse .navbar-nav li {
    margin-right: 15px;
    font-size: 15px;
  }
  .navbar-inverse .navbar-nav li a {
    padding: 10px;
    line-height: 40px;
  }

  /*---------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  /*---------END POST STYLES------------ */
  /*----------SIDEBAR STYLES----------- */
  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  /*--------END FOOTER STYLES---------- */
}
